---
sudo: false
language: python
python:
  - "3.6"
cache: pip
install:
  - pip install codecov pytest pytest-cov
  - pip install -e .
script:
  - pytest --cov=./
after_success:
  - codecov --token=$CODECOV_TOKEN

before_deploy:
  - pip install mkdocs pydoc-markdown mkdocs-material twine
  - bash scripts/deploy_documentation.sh
deploy:
  - provider: pages
    skip_cleanup: true
    github-token: $GITHUB_TOKEN
    local-dir: docs/site
    on:
      branch: master
  - provider: script
    script: bash scripts/deploy_pypi.sh
  # - provider: pypi
  #   user: $PYPI_USER
  #   password: $PYPI_PASSWORD
  #   distributions: "sdist bdist_wheel"
