language: python
python:
  - "3.6"
install:
  - pip install codecov pytest pytest-cov
  - pip install -e .
script:
  - pytest --cov=./
after_success:
  - codecov --token=$CODECOV_TOKEN

# deploy:
#   skip_cleanup: true
#   provider: script
#   script: bash scripts/deploy_documentation.sh
#   on:
#     branch: master
